aiodns==2.0.0
aiohttp==3.7.2
aiohttp-socks==0.5.5
async-timeout==3.0.1
attrs==19.3.0
bcrypt==3.2.0
beautifulsoup4==4.8.2
decorator==4.4.1
Django==3.1.2
django-cors-headers==3.5.0
djangorestframework==3.11.0
gunicorn==20.0.4
jsonschema==3.2.0
multidict==5.0.0
mysql-connector-python==8.0.18
mysqlclient==1.4.6
python-dateutil==2.8.1
sqlparse==0.2.4
dj-database-url 
psycopg2
testpath==0.4.4