async-timeout==3.0.1
bcrypt==3.2.0
dj-database-url==0.5.0
Django==3.1.2
django-cors-headers==3.5.0
djangorestframework==3.11.0
gunicorn==20.0.4
joblib==0.14.0
jsonschema==3.2.0
multidict==5.0.0
mysql-connector==2.2.9
mysql-connector-python==8.0.18
mysqlclient==2.0.1
protobuf==3.10.0
Pygments==2.5.2
PyMySQL==0.10.1
python-dateutil==2.8.1
requests==2.22.0
sqlparse==0.2.4
testpath==0.4.4
stripe==2.55.0